/* #region RESET */
:root {
    --orange: #ff6900;
    --red: #ff0000;
    --green: #008000;
    --black: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    display: inline-block;
}

/* #endregion  */
/* #region GENERAL */
body {
    scroll-behavior: smooth;
    background-color: #000;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.flexbox {
    display: flex;
}

/* #endregion  */
/* #region HEADER */
header {
    height: 40px;
}

/*----------------
    buttons  
 -----------------*/
.view-btns {
    text-align: right;
    padding: 8px;
}

.btn {
    border: none;
    padding: 6px 8px;
    border-radius: 8px;
    cursor: pointer;
}

header btn {
    background-color: #4a4a4a;
    color: #fff;

}

/* #endregion  */
/* #region MAIN */
main {
    height: calc(100vh - 120px);
    overflow: auto;
}

/*----------------
    participants  
 -----------------*/
.participants {
    gap: 10px;
    flex-wrap: wrap;
    margin: 40px 60px;
}

.participant-box {
    width: 210px;
    position: relative;
    margin: auto;
}

.participant-box img {
    border-radius: 10px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.user-name {
    background-color: #4a4a4a90;
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 4px;
    border-radius: 0 5px 0 10px;
    font-size: 14px;
}

/* #endregion  */
/* #region FOOTER */
footer {
    height: 80px;
    background-color: #222;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

footer .icon {
    display: block;
    padding: 6px 4px;
    font-size: 20px;
}

footer * {
    /* border: 1px solid red; */
}

.left-box {
    gap: 8px;
    margin: 0 20px;
    width: 25%;
}

.center-box {
    gap: 12px;
}

.right-box {
    text-align: right;
    width: 25%;
    margin-right: 20px;
}

.f-btn {
    width: fit-content;
    background-color: #4a4a4a;
    color: #ef121f;
    font-weight: 700;
}

.arrow-up {
    align-self: center;
    padding-left: 8px;
    font-size: 12px;
}

.fa-share-from-square {
    color: #4bc800;
}

/* #endregion  */