/* #region RESET */
:root {
    --orange: #ff6900;
    --red: #ff0000;
    --green: #008000;
    --black: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    display: inline-block;
}

/* #endregion  */
/* #region GENERAL */
body {
    scroll-behavior: smooth;
    background-color: #000;
    color: #fff;
}

.flexbox {
    display: flex;
}

/* #endregion  */
/* #region HEADER */
.view-btns {
    text-align: right;
    padding: 8px;
}

.btn {
    background-color: #4a4a4a;
    color: #fff;
    border: none;
    padding: 6px 8px;
    border-radius: 8px;
    cursor: pointer;
}

/* #endregion  */